services:
	-
		class: Spaze\PHPStan\Rules\Disallowed\StaticCalls
		tags:
			- phpstan.rules.rule
		arguments:
			forbiddenCalls:
				-
					method: 'Nette\Utils\Json::decode()'
					message: 'use Hanaboso\CommonsBundle\Utils\Json::decode() instead'
				-
					method: 'Nette\Utils\Json::encode()'
					message: 'use Hanaboso\CommonsBundle\Utils\Json::encode() instead'
	-
		class: Spaze\PHPStan\Rules\Disallowed\FunctionCalls
		tags:
			- phpstan.rules.rule
		arguments:
			forbiddenCalls:
				-
					function: 'json_decode()'
					message: 'use Hanaboso\CommonsBundle\Utils\Json::decode() instead'
				-
					function: 'json_encode()'
					message: 'use Hanaboso\CommonsBundle\Utils\Json::encode() instead'
