includes:
	- ./../vendor/phpstan/phpstan/conf/bleedingEdge.neon
	- ./../vendor/phpstan/phpstan-strict-rules/rules.neon
	- ./../vendor/phpstan/phpstan-nette/extension.neon
	- ./../vendor/phpstan/phpstan-symfony/extension.neon
	- ./../vendor/phpstan/phpstan-phpunit/extension.neon
	- ./../vendor/phpstan/phpstan-doctrine/extension.neon
	- ./../vendor/phpstan/phpstan-nette/rules.neon
	- ./../vendor/phpstan/phpstan-symfony/rules.neon
	- ./../vendor/phpstan/phpstan-phpunit/rules.neon
	- ./../vendor/phpstan/phpstan-doctrine/rules.neon
	- ./../vendor/spaze/phpstan-disallowed-calls/extension.neon
	- ./../vendor/spaze/phpstan-disallowed-calls/disallowed-dangerous-calls.neon
	- ./../vendor/spaze/phpstan-disallowed-calls/disallowed-execution-calls.neon

parameters:
	polluteScopeWithLoopInitialAssignments: false
	polluteScopeWithAlwaysIterableForeach: false
	checkAlwaysTrueCheckTypeFunctionCall: true
	checkAlwaysTrueInstanceof: true
	checkAlwaysTrueStrictComparison: true
	checkExplicitMixedMissingReturn: true
	checkFunctionNameCase: true
	reportMaybesInMethodSignatures: true
	reportStaticMethodSignatures: true
	reportUnmatchedIgnoredErrors: false
	ignoreErrors:
		- '#Expression \"\$.*\" on a separate line does not do anything\.#'
		- '#T_ANON_CLASS#'
		- '#T_DOC_COMMENT_CLOSE_TAG#'
		- '#T_DOC_COMMENT_OPEN_TAG#'
		- '#T_DOC_COMMENT_STRING#'
		- '#T_DOC_COMMENT_TAG#'
		- '#T_DOC_COMMENT_WHITESPACE#'
		- '#T_STRING_CONCAT#'
		- '#T_OPEN_SHORT_ARRAY#'
		- '#file_put_contents\(\) is forbidden#'
		- '#file_get_contents\(\) is forbidden#'
		- '#json_encode\(\) is forbidden#'
		- '#json_decode\(\) is forbidden#'
		- '#exec\(\) is forbidden#'
		- '#Call to an undefined static method#'
		- '#has unknown class Apitte#'
		- '#does not extend any class#'
	ergebnis:
		allowAbstractClasses: true
		classesAllowedToBeExtended:
			- HanabosoCodingStandard\Sniffs\Commenting\SniffAbstract
			- Symfony\Component\HttpKernel\Kernel
			- Symfony\Bundle\FrameworkBundle\Test\KernelTestCase
			- Symfony\Bundle\FrameworkBundle\Test\WebTestCase
		classesNotRequiredToBeAbstractOrFinal:
			- Hanaboso\PhpCheckUtils\TwigCs\TwigRuleset
		interfacesImplementedByContainers: []

	strictRules:
			disallowedLooseComparison: false
			disallowedConstructs: false
			booleansInConditions: false

	disallowedStaticCalls:
		-
			method: 'Nette\Utils\Json::decode()'
			message: 'use Hanaboso\Utils\String\Json::decode() instead'
		-
			method: 'Nette\Utils\Json::encode()'
			message: 'use Hanaboso\Utils\String\Json::encode() instead'
	disallowedFunctionCalls:
		-
			function: 'file_put_contents()'
			message: 'use Hanaboso\Utils\File\File::putContent() or logger instead'
		-
			function: 'file_get_contents()'
			message: 'use Hanaboso\Utils\File\File::getContent() instead'
		-
			function: 'json_decode()'
			message: 'use Hanaboso\Utils\String\Json::decode() instead'
		-
			function: 'json_encode()'
			message: 'use Hanaboso\Utils\String\Json::encode() instead'

parametersSchema:
	ergebnis: structure([
		allowAbstractClasses: bool()
		classesAllowedToBeExtended: listOf(string())
		classesNotRequiredToBeAbstractOrFinal: listOf(string())
		interfacesImplementedByContainers: listOf(string())
	])

services:
	-
		class: PHPStan\Rules\VariableVariables\VariablePropertyFetchRule
		arguments:
			universalObjectCratesClasses: %universalObjectCratesClasses%
		tags:
			- phpstan.rules.rule

	-
		class: PHPStan\Rules\Cast\UselessCastRule
		arguments:
			treatPhpDocTypesAsCertain: %treatPhpDocTypesAsCertain%
		tags:
			- phpstan.rules.rule

	-
		class: Ergebnis\PHPStan\Rules\Classes\FinalRule
		arguments:
			allowAbstractClasses: %ergebnis.allowAbstractClasses%
			classesNotRequiredToBeAbstractOrFinal: %ergebnis.classesNotRequiredToBeAbstractOrFinal%
		tags:
			- phpstan.rules.rule

	-
		class: Ergebnis\PHPStan\Rules\Classes\NoExtendsRule
		arguments:
			classesAllowedToBeExtended: %ergebnis.classesAllowedToBeExtended%
		tags:
			- phpstan.rules.rule

	-
		class: Ergebnis\PHPStan\Rules\Classes\PHPUnit\Framework\TestCaseWithSuffixRule
		tags:
			- phpstan.rules.rule

	-
		class: Ergebnis\PHPStan\Rules\Methods\NoParameterWithContainerTypeDeclarationRule
		arguments:
			interfacesImplementedByContainers: %ergebnis.interfacesImplementedByContainers%
		tags:
			- phpstan.rules.rule

	errorFormatter.custom:
		class: HanabosoCodingStandard\Reports\PhpStanReport

rules:
	- PHPStan\Rules\Classes\RequireParentConstructCallRule
	- PHPStan\Rules\DisallowedConstructs\DisallowedImplicitArrayCreationRule
	- PHPStan\Rules\ForeachLoop\OverwriteVariablesWithForeachRule
	- PHPStan\Rules\Methods\WrongCaseOfInheritedMethodRule
	- PHPStan\Rules\StrictCalls\DynamicCallOnStaticMethodsRule
	- PHPStan\Rules\StrictCalls\StrictFunctionCallsRule
	- PHPStan\Rules\SwitchConditions\MatchingTypeInSwitchCaseConditionRule
	- PHPStan\Rules\VariableVariables\VariableMethodCallRule
	- PHPStan\Rules\VariableVariables\VariableStaticMethodCallRule
	- PHPStan\Rules\VariableVariables\VariableStaticPropertyFetchRule
	- PHPStan\Rules\VariableVariables\VariableVariablesRule
	- Ergebnis\PHPStan\Rules\Expressions\NoCompactRule
	- Ergebnis\PHPStan\Rules\Expressions\NoErrorSuppressionRule
	- Ergebnis\PHPStan\Rules\Expressions\NoEvalRule
	- Ergebnis\PHPStan\Rules\Files\DeclareStrictTypesRule
