includes:
	- ./../vendor/phpstan/phpstan-nette/extension.neon
	- ./../vendor/phpstan/phpstan-symfony/extension.neon
	- ./../vendor/phpstan/phpstan-phpunit/extension.neon
	- ./../vendor/phpstan/phpstan-doctrine/extension.neon
	- ./../vendor/phpstan/phpstan-nette/rules.neon
	- ./../vendor/phpstan/phpstan-symfony/rules.neon
	- ./../vendor/phpstan/phpstan-phpunit/rules.neon
	- ./../vendor/phpstan/phpstan-doctrine/rules.neon

parameters:
	polluteScopeWithLoopInitialAssignments: false
	polluteScopeWithAlwaysIterableForeach: false
	checkAlwaysTrueCheckTypeFunctionCall: true
	checkAlwaysTrueInstanceof: true
	checkAlwaysTrueStrictComparison: true
	checkExplicitMixedMissingReturn: true
	checkFunctionNameCase: true
	checkMissingClosureNativeReturnTypehintRule: true
	reportMaybesInMethodSignatures: true
	reportStaticMethodSignatures: true
	reportUnmatchedIgnoredErrors: false
	ignoreErrors:
		- '#Expression \"\$.*\" on a separate line does not do anything\.#'
		- '#T_ANON_CLASS#'
		- '#T_DOC_COMMENT_CLOSE_TAG#'
		- '#T_DOC_COMMENT_OPEN_TAG#'
		- '#T_DOC_COMMENT_STRING#'
		- '#T_DOC_COMMENT_TAG#'
		- '#T_DOC_COMMENT_WHITESPACE#'
		- '#T_STRING_CONCAT#'
		- '#T_OPEN_SHORT_ARRAY#'
	ergebnis:
		allowAbstractClasses: true
		classesAllowedToBeExtended:
			- HanabosoCodingStandard\Sniffs\Commenting\SniffAbstract
		classesNotRequiredToBeAbstractOrFinal: []
		interfacesImplementedByContainers:
			- Psr\Container\ContainerInterface

parametersSchema:
	ergebnis: structure([
		allowAbstractClasses: bool()
		classesAllowedToBeExtended: listOf(string())
		classesNotRequiredToBeAbstractOrFinal: listOf(string())
		interfacesImplementedByContainers: listOf(string())
	])

services:
	-
		class: Spaze\PHPStan\Rules\Disallowed\FunctionCalls
		tags:
			- phpstan.rules.rule
		arguments:
			forbiddenCalls:
				-
					function: 'var_dump()'
					message: 'use logger instead'
				-
					function: 'var_export()'
					message: 'use logger instead'
				-
					function: 'print_r()'
					message: 'use logger instead'
				-
					function: 'file_put_contents()'
					message: 'use Hanaboso\Utils\File\Files::putContent() or logger instead'
				-
					function: 'file_get_contents()'
					message: 'use Hanaboso\Utils\File\Files::getContent() instead'
				-
					function: 'json_decode()'
					message: 'use Hanaboso\Utils\String\Json::decode() instead'
				-
					function: 'json_encode()'
					message: 'use Hanaboso\Utils\String\Json::encode() instead'

	-
		class: Spaze\PHPStan\Rules\Disallowed\StaticCalls
		tags:
			- phpstan.rules.rule
		arguments:
			forbiddenCalls:
				-
					method: 'Nette\Utils\Json::decode()'
					message: 'use Hanaboso\Utils\String\Json::decode() instead'
				-
					method: 'Nette\Utils\Json::encode()'
					message: 'use Hanaboso\Utils\String\Json::encode() instead'


	-
		class: PHPStan\Rules\Operators\OperatorRuleHelper
	-
		class: PHPStan\Rules\VariableVariables\VariablePropertyFetchRule
		arguments:
			universalObjectCratesClasses: %universalObjectCratesClasses%
		tags:
			- phpstan.rules.rule

	-
		class: PHPStan\Rules\Cast\UselessCastRule
		arguments:
			treatPhpDocTypesAsCertain: %treatPhpDocTypesAsCertain%
		tags:
			- phpstan.rules.rule

	-
		class: Ergebnis\PHPStan\Rules\Classes\FinalRule
		arguments:
			allowAbstractClasses: %ergebnis.allowAbstractClasses%
			classesNotRequiredToBeAbstractOrFinal: %ergebnis.classesNotRequiredToBeAbstractOrFinal%
		tags:
			- phpstan.rules.rule

	-
		class: Ergebnis\PHPStan\Rules\Classes\NoExtendsRule
		arguments:
			classesAllowedToBeExtended: %ergebnis.classesAllowedToBeExtended%
		tags:
			- phpstan.rules.rule

	-
		class: Ergebnis\PHPStan\Rules\Classes\PHPUnit\Framework\TestCaseWithSuffixRule
		tags:
			- phpstan.rules.rule

	-
		class: Ergebnis\PHPStan\Rules\Methods\NoParameterWithContainerTypeDeclarationRule
		arguments:
			interfacesImplementedByContainers: %ergebnis.interfacesImplementedByContainers%
		tags:
			- phpstan.rules.rule

rules:
	- PHPStan\Rules\Classes\RequireParentConstructCallRule
	- PHPStan\Rules\DisallowedConstructs\DisallowedImplicitArrayCreationRule
	- PHPStan\Rules\ForeachLoop\OverwriteVariablesWithForeachRule
	- PHPStan\Rules\Methods\WrongCaseOfInheritedMethodRule
	- PHPStan\Rules\Operators\OperandInArithmeticPostDecrementRule
	- PHPStan\Rules\Operators\OperandInArithmeticPostIncrementRule
	- PHPStan\Rules\Operators\OperandInArithmeticPreDecrementRule
	- PHPStan\Rules\Operators\OperandInArithmeticPreIncrementRule
	- PHPStan\Rules\Operators\OperandsInArithmeticAdditionRule
	- PHPStan\Rules\Operators\OperandsInArithmeticDivisionRule
	- PHPStan\Rules\Operators\OperandsInArithmeticExponentiationRule
	- PHPStan\Rules\Operators\OperandsInArithmeticModuloRule
	- PHPStan\Rules\Operators\OperandsInArithmeticMultiplicationRule
	- PHPStan\Rules\Operators\OperandsInArithmeticSubtractionRule
	- PHPStan\Rules\StrictCalls\DynamicCallOnStaticMethodsRule
	- PHPStan\Rules\StrictCalls\StrictFunctionCallsRule
	- PHPStan\Rules\SwitchConditions\MatchingTypeInSwitchCaseConditionRule
	- PHPStan\Rules\VariableVariables\VariableMethodCallRule
	- PHPStan\Rules\VariableVariables\VariableStaticMethodCallRule
	- PHPStan\Rules\VariableVariables\VariableStaticPropertyFetchRule
	- PHPStan\Rules\VariableVariables\VariableVariablesRule
	- Ergebnis\PHPStan\Rules\Expressions\NoCompactRule
	- Ergebnis\PHPStan\Rules\Expressions\NoEmptyRule
	- Ergebnis\PHPStan\Rules\Expressions\NoErrorSuppressionRule
	- Ergebnis\PHPStan\Rules\Expressions\NoEvalRule
	- Ergebnis\PHPStan\Rules\Expressions\NoIssetRule
	- Ergebnis\PHPStan\Rules\Files\DeclareStrictTypesRule
	- Ergebnis\PHPStan\Rules\Methods\PrivateInFinalClassRule
	- Ergebnis\PHPStan\Rules\Statements\NoSwitchRule